.checboxLabel {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.listing {
  width: 250px;
}

.footer{
  height: 100px
}

.dropDown {
  margin-top: 21px;
  select{
    width: 100px;
    option {
      width: 100px;
      margin: 7px;
    }
  }
}

.searchBox {
  input {
    width: 900px;
    height: 40px;
  }
}